---
import * as fs from "fs";
import * as path from "path";
import { fileURLToPath } from "url";
import * as server from "astro:config/server";
import Base from "@/layouts/Base.astro";
import { getCollection, getEntry, getEntries } from "astro:content";
import Post from "@/components/Post.astro";
import "@/styles/grid.css";

export async function getStaticPaths() {
  const srcDir = fileURLToPath(server.srcDir);
  const pagesDir = path.join(srcDir, "pages");
  const pagesWithNoExplicitAstroFile = await getCollection("pages", (page) => {
    const astroPagePath = path.join(pagesDir, `${page.id}.astro`);
    return !fs.existsSync(astroPagePath);
  });
  return pagesWithNoExplicitAstroFile.map((page) => {
    return {
      params: {
        slug: page.id,
      },
    };
  });
}
const { slug } = Astro.params;
const page = await getEntry("pages", slug);

if (!page) {
  return Astro.redirect("/404");
}
// TODO: test that all entries are returned
const subPosts = await getEntries(
  page.data.posts.map((post_id) => {
    return { collection: "posts", id: post_id };
  }),
);
---

<Base title={page.data.title} metaTitle={page.data.metaTitle}>
  <div data-testid="pinned-items" class="bg-light grid-setup pt-10">
    {
      subPosts.map((subPost) => (
        <Post
          post={subPost}
          styling={`tile w-[100%] mb-6 shadow bg-white scroll-mt-5 ${subPost.data?.additionalStyling}`}
          displayReadMore={false}
        />
      ))
    }
  </div>
</Base>
