---
import Tile from "@/components/Tile.astro";

---
<audio id="audio-player" src="https://www.fanchants.com/media/chants/full/download/manchester-is-full-of-shite-fanchants-free.mp3" preload="auto"></audio>
<Tile id="match-tracker" styling={`w-3/4 mb-6 shadow bg-white`}>
  <Fragment slot="title"><h1 updates="double-header" class="hidden p-2 text-red">DOUBLE HEADER</h1><h4 data-show-after-load updates="match-date" class="hidden p-2"></h4></Fragment>
  <Fragment slot="body">
    <div class="grid grid-cols-[1fr_auto_1fr] p-4">
      <div data-show-after-load class="hidden text-xl font-bold grid-cols-1 grid-rows-2 align-center">
        <img updates="home-team-image" src="" class="w-[100%] min-w-[100px] min-h-[100px] lg:min-w-[100px] lg:min-h-[200px]" />
        <div updates="home-team-name" class="text-center"></div>
      </div>
      <h1 data-spinner class="spinner text-center self-center text-[1.5rem] sm:text-[2rem] md:text-[3rem]"></h1>
      <div data-show-after-load class="hidden text-xl font-bold grid-cols-1 grid-rows-2 align-center">
        <img updates="away-team-image" src="" class="w-[100%] min-w-[100px] min-h-[100px] lg:min-w-[100px] lg:min-h-[200px]"/>
        <div updates="away-team-name" class="text-center"></div>
      </div>
    </div>
  </Fragment>
</Tile>
<Tile id="match-tracker-double-header" styling={`hidden w-3/4 mb-6 shadow bg-white`}>
  <Fragment slot="title"><h4 data-show-after-load updates="match-date" class="hidden p-2"></h4></Fragment>
  <Fragment slot="body">
    <div class="grid grid-cols-[1fr_auto_1fr] p-4">
      <div data-show-after-load class="hidden text-xl font-bold grid-cols-1 grid-rows-2 align-center">
        <img updates="home-team-image" src="" class="w-[100%] min-w-[100px] min-h-[100px] lg:min-w-[100px] lg:min-h-[200px]" />
        <div updates="home-team-name" class="text-center"></div>
      </div>
      <h1 data-spinner class="spinner text-center self-center text-[1.5rem] sm:text-[2rem] md:text-[3rem]"></h1>
      <div data-show-after-load class="hidden text-xl font-bold grid-cols-1 grid-rows-2 align-center">
        <img updates="away-team-image" src="" class="w-[100%] min-w-[100px] min-h-[100px] lg:min-w-[100px] lg:min-h-[200px]" />
        <div updates="away-team-name" class="text-center"></div>
      </div>
    </div>
  </Fragment>
</Tile>
<style>
.spinner {
  width: 24px;
  height: 24px;
  border: 3px solid rgba(0, 0, 0, 0.3);
  border-top-color: #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg); /* Start at 0 degrees */
  }
  100% {
    transform: rotate(360deg); /* End at 360 degrees, completing a full rotation */
  }
}
</style>
<script>
  import { startOfWeek, format, addDays } from "date-fns";
  import { fromZonedTime } from 'date-fns-tz';
  import type { MatchType } from "@/types/match";
  const VERSION = 1;
  const DOUBLE_HEADER_FLAG = 'double-header';
  const toggleEasterEgg = (element: HTMLElement, originalSrc: string, count: number, audioElement: HTMLAudioElement) => {
    if (count % 2 == 0) {
      element.src = "https://raw.githubusercontent.com/twitter/twemoji/8e58ae4745075d4faa5b9190eab578aa7e4c32d5/svg/1f4a9.svg";
      audioElement.play();
    } else {
      audioElement.pause();
      element.src = originalSrc;
    }
  };
  const removeSpinner = (element: HTMLElement) => {
    Array.from(element.querySelectorAll('[data-spinner]')).map((el) => {
      el.classList.remove('spinner');
      el.textContent = 'VS';
    });
  };
  const showData = (element: HTMLElement) => {
    Array.from(element.querySelectorAll('[data-show-after-load]')).map((el) => {
      el.classList.remove('hidden');
    });
  };
  const SrcImagesToUpdate = 2;
  let toggleEasterEggCountHome = 0;
  let toggleEasterEggCountAway = 0;
  const updateTracker = (element: HTMLElement, nearestMatch: MatchType, audioElement: HTMLAudioElement, flags: Array<string> = []) => {
    let imageLoadCount = 0;
    Array.from(element.querySelectorAll('[updates]')).map((el) => {
      if (el.getAttribute('updates') == 'away-team-image') {
        imageLoadCount++;
        if (nearestMatch.awayTeam.shortName == 'Man Utd') {
          el.addEventListener('click', () => {
            toggleEasterEgg(el, nearestMatch.awayTeam.crest, toggleEasterEggCountAway, audioElement);
            toggleEasterEggCountAway++;
          });
        };
        el.addEventListener('load', () => {
          console.log('imageLoaded', imageLoadCount);
          if (imageLoadCount == SrcImagesToUpdate) {
            removeSpinner(element);
            showData(element);
            imageLoadCount = 0;
          }
        });
        el.src = nearestMatch.awayTeam.crest;
      } else if (el.getAttribute('updates') == 'home-team-image') {
        imageLoadCount++;
        if (nearestMatch.homeTeam.shortName == 'Man Utd') {
          el.addEventListener('click', () => {
            toggleEasterEgg(el, nearestMatch.homeTeam.crest, toggleEasterEggCountHome, audioElement);
            toggleEasterEggCountHome++;
          });
        };
        el.addEventListener('load', () => {
          console.log('imageLoaded', imageLoadCount);
          if (imageLoadCount == SrcImagesToUpdate) {
            removeSpinner(element);
            showData(element);
            imageLoadCount = 0;
          }
        });
        el.src = nearestMatch.homeTeam.crest;
      } else if (el.getAttribute('updates') == 'away-team-name') {
        el.textContent = nearestMatch.awayTeam.shortName;
      } else if (el.getAttribute('updates') == 'home-team-name') {
        el.textContent = nearestMatch.homeTeam.shortName;
      } else if (el.getAttribute('updates') == 'match-date') {
        const converted = new Intl.DateTimeFormat(undefined, {
          weekday: 'long',
          month: 'long',
          day: 'numeric',
          hour: 'numeric',
          minute: 'numeric',
        }).format(new Date(nearestMatch.utcDate));

        el.textContent = converted;
      } else if (el.getAttribute('updates') == 'double-header' && flags.includes(DOUBLE_HEADER_FLAG)) {
        el.setAttribute('data-show-after-load', '');
      };
    });
  };

  const laterThanNow = (matches: Array<MatchType>, today: Date) => {
    const sortedMatches = matches.sort((a, b) => a.utcDate.localeCompare(b.utcDate));
    return sortedMatches.filter((match) => {
      return new Date(match.utcDate).getTime() > today.getTime();
    });
  };

  const otherMatchesOnSameDay = (matchToCompare: MatchType, matches: Array<MatchType>) => {
    const tzone = Intl.DateTimeFormat().resolvedOptions().timeZone
    const matchToCompareLocalizedDate = fromZonedTime(matchToCompare.utcDate, tzone);
    return matches.filter((match) => {
      const localizedDate = fromZonedTime(match.utcDate, tzone);
      return matchToCompare !== match && localizedDate.getDay() === matchToCompareLocalizedDate.getDay();
    });
  }
  const filterMatchResponse = async (existingMatches: Array<MatchType>, response: Response, today: Date) => {
    const json = await response.json();

    let doubleHeaderMatch: MatchType | undefined = undefined;
    const nearestMatches = laterThanNow([...existingMatches, ...json.matches], today);
    const nearestMatch = nearestMatches[0];
    if (nearestMatches.length > 1) {
      const otherMatches = otherMatchesOnSameDay(nearestMatch, nearestMatches);
      if (otherMatches.length > 0) {
        doubleHeaderMatch = otherMatches[0];
      }
    }
    return [nearestMatch, doubleHeaderMatch].filter(Boolean);
  };

  const checkForMatches = async () => {
    const today = new Date();
    const midWeek = format(startOfWeek(today, { weekStartsOn: 4 }), 'yyyy-MM-dd');
    let checks = [midWeek]
    const cache = localStorage.getItem(`${midWeek}-v${VERSION}`);
    const matchTracker = document.getElementById('match-tracker')
    const matchTrackerDoubleHeader = document.getElementById('match-tracker-double-header')
    const audioPlayer = document.getElementById('audio-player')
    let doubleHeaderMatch: MatchType | undefined = undefined;

    if (cache) {
      try {
        const cacheParsed = JSON.parse(cache)
        if (cacheParsed?.matches && cacheParsed.matches.length > 0) {
          const matches = laterThanNow(cacheParsed.matches, today);
          let flags = [];
          if (matches.length > 1) {
            flags.push(DOUBLE_HEADER_FLAG);
          }
          if (matches.length > 0) {
            updateTracker(matchTracker, matches[0], audioPlayer, flags);
            if (matches.length > 1) {
              doubleHeaderMatch = matches[1];
              matchTrackerDoubleHeader.classList.remove('hidden');
              updateTracker(matchTrackerDoubleHeader, audioPlayer, doubleHeaderMatch);
            }
            return;
          }
        }
      } catch (e) {
        console.log('error parsing cache, clearing', e);
        localStorage.removeItem(`${midWeek}-v${VERSION}`);
      }
    }
    let nearestMatches: Array<MatchType> | [] = [];
    await fetch(`/api/manual-fixtures/${midWeek}.json`).then(async (response) => {
      if (response.status === 200) {
        const json = await response.json();
        nearestMatches = laterThanNow(json.matches, today);
      }
    })
    await fetch(`/api/fixtures/${midWeek}.json`).then(async (response) => {
      nearestMatches = await filterMatchResponse(nearestMatches, response, today);
    });
    let foundWeekID = midWeek;
    if (!nearestMatches[0]) {
      const nextMidWeek = format(startOfWeek(addDays(today, 7), { weekStartsOn: 4 }), 'yyyy-MM-dd');
      checks.push(nextMidWeek);
      fetch(`/api/manual-fixtures/${nextMidWeek}.json`).then(async (response) => {
        if (response.status === 200) {
          const json = await response.json();
          nearestMatches = laterThanNow(json.matches, today);
        }
      });
      await fetch(`/api/fixtures/${nextMidWeek}.json`).then(async (nextWeekResponse) => {
        nearestMatches = await filterMatchResponse(nearestMatches, nextWeekResponse, today);
        foundWeekID = nextMidWeek;
      });
    }
    if (!nearestMatches[0]) {
      const thirdMidWeek = format(startOfWeek(addDays(today, 14), { weekStartsOn: 4 }), 'yyyy-MM-dd');
      checks.push(thirdMidWeek);
      fetch(`/api/manual-fixtures/${thirdMidWeek}.json`).then(async (response) => {
        if (response.status === 200) {
          const json = await response.json();
          nearestMatches = laterThanNow(json.matches, today);
        }
      });
      await fetch(`/api/fixtures/${thirdMidWeek}.json`).then(async (thirdWeekResponse) => {
        nearestMatches = await filterMatchResponse(nearestMatches, thirdWeekResponse, today);
        foundWeekID = thirdMidWeek;
      });
    }

    if (nearestMatches[0]) {
      localStorage.setItem(`${foundWeekID}-v${VERSION}`, JSON.stringify({
        matches: nearestMatches,
      }));
      let flags = [];
      if (nearestMatches.length > 1) {
        flags.push(DOUBLE_HEADER_FLAG);
      }
      updateTracker(matchTracker, nearestMatches[0], audioPlayer, flags);

      if (nearestMatches.length > 1) {
        matchTrackerDoubleHeader.classList.remove('hidden');
        updateTracker(matchTrackerDoubleHeader, nearestMatches[1], audioPlayer);
      }
    } else {
      console.log('no match found in', checks);
    }
  };

  document.addEventListener("astro:page-load", () => {
    checkForMatches();
    setInterval(checkForMatches, 600000);
  });
</script>
