---
import { fromBase } from "@/lib/fromBase";
import * as ImagePost from "@/lib/imagePost";
import * as MediaPost from "@/lib/mediaPost";
import * as Post from "@/lib/post";
import { markdownify, slugify } from "@/lib/utils/textConverter";
import type { CollectionEntry } from "astro:content";
import ConditionalATag from "@/components/ConditionalATag.astro";
import {
  type ImageSetting,
  type MultiImagePostType,
  type ImagePostType,
  type VideoPostType,
} from "@/content.types";
import Tile from "@/components/Tile.astro";
import Video from "@/components/Video.astro";

type Props = {
  post: CollectionEntry<"posts">;
  displayReadMore?: boolean;
  styling: string;
  headerStyling?: string;
  topBorderStyling?: string;
  heroTextStyling?: string;
};

const {
  post,
  displayReadMore = undefined,
  styling,
  topBorderStyling = "tile-default-top-border-style", // TODO: rename to topBorderClasses
  headerStyling = "",
  heroTextStyling = "",
} = Astro.props;

const multiImagePostData: MultiImagePostType = (() => {
  if (post.data.type == "multiImage") {
    return post.data as MultiImagePostType;
  }
})();
const imagePostData: ImagePostType = (() => {
  if (post.data.type == "image") {
    return post.data as ImagePostType;
  }
})();
const videoPostData: VideoPostType = (() => {
  if (post.data.type == "video") {
    return post.data as VideoPostType;
  }
})();

const title = (() => {
  if (Object.hasOwn(post.data, "title")) {
    return post.data.title;
  }
})();

const showReadMore = (() => {
  if (displayReadMore !== undefined) {
    return displayReadMore;
  } else {
    return (post.data?.posts || []).length > 0;
  }
})();
const hasDynamicMedia = ImagePost.hasDynamicMedia(post);

const hasVideo = videoPostData && videoPostData.video !== undefined;
const hasImage = imagePostData && imagePostData.image !== undefined;
const hasImages = multiImagePostData && multiImagePostData.images !== undefined;
const hasMultimedia = hasVideo || hasImage || hasImages;
const multimediaPlacement =
  (imagePostData && imagePostData.imagePlacement) ||
  (videoPostData && videoPostData.videoPlacement);
const hasHeaderMultimedia =
  hasMultimedia && Post.isInHeader(multimediaPlacement);
const hasHeaderImage =
  ((multiImagePostData && multiImagePostData.images) ||
    (imagePostData && imagePostData.image)) &&
  hasHeaderMultimedia;
const hasTextBody = (post.body || "") != "";

const images = ((): ImageSetting[] => {
  if (multiImagePostData && multiImagePostData.images.length > 0) {
    return multiImagePostData.images.map((image: ImageSetting) => {
      const [width, height] = MediaPost.parseDimensions(image.dimensions);
      return {
        src: fromBase(image.src),
        width: width,
        height: height,
        media: image.media,
        dimensions: image.dimensions,
      };
    });
  } else if (imagePostData && imagePostData.image) {
    return [
      {
        src: fromBase(imagePostData.image),
        alt: imagePostData.imageAlt || imagePostData.title,
        width: imagePostData.parsedImageWidth,
        height: imagePostData.parsedImageHeight,
        dimensions: imagePostData.imageDimensions,
      },
    ];
  } else {
    return [];
  }
})();

const mediaClasses = (() => {
  if (hasDynamicMedia) {
    const bodyClass = (() => {
      if (!hasTextBody) {
        return "tile-body-with-only-body-media";
      } else {
        return "tile-body-with-body-media";
      }
    })();
    return Object.entries(imagePostData.imagePlacement).reduce(
      (acc, [key, value]) => {
        let mediaLabel = `${key}:`;
        if (key == "all") {
          mediaLabel = "";
        }
        if (value == "header") {
          acc["tile"] += ` ${mediaLabel}tile-image-with-header-media`;
          acc["headerMedia"] += ` ${mediaLabel}block`;
          acc["body"] += ` ${mediaLabel}tile-body-without-body-media`;
          acc["bodyMedia"] += ` ${mediaLabel}hidden`;
          acc["topBorderStyling"] += ` ${mediaLabel}no-top-border`;
        } else if (value == "body") {
          acc["tile"] += ` ${mediaLabel}tile-with-body-media`;
          acc["headerMedia"] += ` ${mediaLabel}hidden`;
          acc["body"] += ` ${mediaLabel}${bodyClass}`;
          acc["bodyMedia"] += ` ${mediaLabel}flex ${mediaLabel}items-end`;
          acc["topBorderStyling"] +=
            ` ${mediaLabel}tile-default-top-border-style`;
        }
        return acc;
      },
      {
        tile: "",
        body: "",
        bodyMedia: "",
        headerMedia: "",
        topBorderStyling: "",
        defaultTopBoardeBehaviour: false,
      },
    );
  } else {
    const squareMedia =
      imagePostData &&
      imagePostData.parsedImageWidth == imagePostData.parsedImageHeight;
    const tileBodyClass = (() => {
      if (hasHeaderMultimedia) {
        if (hasTextBody) {
          return "tile-body-without-body-media";
        } else {
          return "tile-body-without-body-media hidden";
        }
      } else if (hasMultimedia && multimediaPlacement == "body") {
        if (!hasTextBody) {
          return "tile-body-with-only-body-media";
        } else {
          if (squareMedia) {
            return "tile-with-square-body-media";
          } else {
            return "tile-body-with-body-media";
          }
        }
      } else {
        return "";
      }
    })();
    const tileBodyMediaClass = (() => {
      if (squareMedia) {
        return "items-start";
      } else {
        return "items-end";
      }
    })();
    const tileClass = (() => {
      if (
        imagePostData &&
        imagePostData.parsedImageWidth == imagePostData.parsedImageHeight &&
        (!multimediaPlacement || multimediaPlacement == "header")
      ) {
        return "tile-with-square-header-media";
      } else if (hasHeaderMultimedia) {
        return "tile-with-header-media";
      } else {
        return "tile-with-body-media";
      }
    })();

    return {
      tile: tileClass,
      topBorderStyling: hasHeaderMultimedia ? "" : topBorderStyling,
      defaultTopBoardeBehaviour: true,
      headerMedia: "",
      body: tileBodyClass,
      bodyMedia: tileBodyMediaClass,
    };
  }
})();

const hasHeaderSlot = Boolean(hasHeaderMultimedia || hasDynamicMedia);
---

<Tile
  id={slugify(title) || post.id}
  topBorderStyling={mediaClasses.topBorderStyling}
  defaultTopBoardeBehaviour={mediaClasses.defaultTopBoardeBehaviour}
  headerStyling={headerStyling}
  bodyStyling={`${heroTextStyling} ${mediaClasses.body}`}
  styling={`${styling} ${mediaClasses.tile}`}
>
  {
    hasHeaderSlot && (
      <Fragment slot={hasHeaderSlot && "header"}>
        <span
          data-testid="post-header-media-container"
          class={mediaClasses.headerMedia}
        >
          {(hasHeaderImage || hasDynamicMedia) && (
            <ConditionalATag
              conditional={imagePostData?.imageLink}
              href={imagePostData?.imageLink}
            >
              <picture class="tile-image h-auto w-full">
                {images.map((image) => {
                  return (
                    <source media={image?.media || ""} srcset={image.src} />
                  );
                })}
                <img
                  src={images[0].src}
                  alt={
                    images[0].imageAlt ||
                    imagePostData?.title ||
                    multiImagePostData?.title
                  }
                  loading="eager"
                  decoding="async"
                  class="w-full"
                />
              </picture>
            </ConditionalATag>
          )}
          {hasVideo && !multimediaPlacement && (
            <Video
              url={videoPostData.video}
              width={videoPostData.parsedVideoWidth}
              height={videoPostData.parsedVideoHeight}
              title={videoPostData.title}
              orientation={videoPostData.orientation}
            />
          )}
        </span>
      </Fragment>
    )
  }
  {
    title && (
      <Fragment slot={title && "title"}>
        <h3 class={`${headerStyling} text-gold w-full pt-2 text-center`}>
          {title}
        </h3>
      </Fragment>
    )
  }

  <Fragment slot="body">
    <span
      data-testid="post-body-media-container"
      class={`flex ${mediaClasses.bodyMedia} post-body-media-container`}
    >
      {
        hasVideo && (multimediaPlacement == "body" || hasDynamicMedia) && (
          <Video
            url={videoPostData.video}
            width={videoPostData.parsedVideoWidth}
            height={videoPostData.parsedVideoHeight}
            title={videoPostData.title}
            orientation={videoPostData.orientation}
          />
        )
      }
      {/* TODO: the img is stretched ? */}
      {
        imagePostData && (multimediaPlacement == "body" || hasDynamicMedia) && (
          <ConditionalATag
            conditional={imagePostData.imageLink}
            href={imagePostData.imageLink}
          >
            <picture class="tile-image h-auto w-full">
              {images.map((image) => {
                return <source media={image?.media || ""} srcset={image.src} />;
              })}
              <img
                src={images[0].src}
                alt={imagePostData.imageAlt || title}
                loading="eager"
                decoding="async"
                class="w-full"
              />
            </picture>
          </ConditionalATag>
        )
      }
    </span>
    <span
      data-testid="tile-body-text"
      class={`flex flex-col items-center px-4 pb-1 max-w-[100%] ${hasTextBody ? "" : "hidden"} tile-body-text`}
    >
      {
        /* TODO: there is waaay too much spacing from tile-body-text, hero text & p tag, the flex ? */
      }
      {
        hasTextBody && (
          <div
            class={`${heroTextStyling} tile-body-hero-text a-tag-underline text-center text-lg wrap-break-word`}
          >
            <Fragment set:html={markdownify(post.body!)} />
          </div>
        )
      }
      {
        showReadMore && (
          <a
            class="bg-primary align-center my-2 max-h-[2rem] max-w-[8rem] justify-self-center rounded-full px-5 text-white"
            href={fromBase(`/${post.id}`)}
          >
            Read More
          </a>
        )
      }
    </span>
  </Fragment>
</Tile>
<style>
  @import "@/components/Post.css";
  @reference "@/styles/tailwind.css";
  .tile-body-hero-text {
    max-width: 100%;
  }
  .tile-body-hero-text > :global(p) {
    max-width: 100%;
    white-space-collapse: preserve-breaks;
    white-space: pre-line;
  }
  .tile-with-square-body-media {
    @apply grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    height: auto;
    direction: rtl;
    * {
      direction: ltr;
    }
    @variant md {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      height: auto;
    }
  }
  .tile-with-square-header-media {
    @apply grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    height: auto;
    @variant md {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      height: auto;
    }
  }
</style>
