---
import { Image, render } from "astro:assets";
import config from "@/config/config.json";
import { fromBase } from "@/lib/fromBase";
import { getSinglePage } from "@/lib/contentParser.astro";
import dateFormat from "@/lib/utils/dateFormat";
import { humanize, markdownify, slugify } from "@/lib/utils/textConverter";
import type { CollectionEntry } from "astro:content";
import ConditionalATag from "@/components/ConditionalATag.astro";

type Props = {
  post: CollectionEntry<"posts">;
  styling: string;
};

const { post, styling, displayReadMore } = Astro.props;
const { imageDimensions } = post.data;

const showReadMore = (() => {
  if (displayReadMore !== undefined) {
    return displayReadMore;
  } else {
    return (post.data?.posts || []).length > 0;
  }
})();
const [width, height] = (imageDimensions || "").split("x");
if (imageDimensions) {
  post.data.parsedImageWidth = parseInt(width);
  post.data.parsedImageHeight = parseInt(height);
}
const [videoWidth, videoHeight] = (post.data.videoDimensions || "").split("x");
if (post.data.videoDimensions) {
  post.data.parsedVideoWidth = parseInt(width);
  post.data.parsedVideoHeight = parseInt(height);
}
const hasVideo = (post.data.video !== undefined);
const hasMultimedia = (hasVideo || post.data.image);
const multimediaPlacement = (post.data.imagePlacement || post.data.videoPlacement);
---

<div class={`${styling} flex flex-col items-center lg:flex-row justify-evenly`} id={slugify(post.data.title)}>
  <div data-testid="tile-image-container" class={`tile-image-container w-auto ${hasMultimedia ? "" : "hidden"}`}>
  {
    post.data.image && !multimediaPlacement && (
      <ConditionalATag conditional={post.data.imageLink} href={post.data.imageLink}>
          <Image
            class="lg"
            src={fromBase(post.data.image)}
            alt={post.data.title}
            width={post.data.parsedImageWidth}
            height={post.data.parsedImageHeight}
            class="w-auto tile-image"
            format="webp"
          />
      </ConditionalATag>
    )
  }
  </div>
  <div id="content" data-testid="content" class="tile-content flex flex-col items-center w-full">
    {
      post.data.title && (
        <h3 class="text-gold w-full text-center pt-2 border-b-1 border-divider">
          {post.data.title}
        </h3>
      )
    }
    <div data-testid="tile-body" class="tile-body align-center pt-2 grid grid-wrap" data-testid="card-body">
      {
        hasVideo && multimediaPlacement == 'body' && (
          <iframe
            class=""
            src={post.data.video}
            width={videoWidth}
            height={videoHeight}
            title={post.data.title}
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        )
      }
      {
        post.data.image && multimediaPlacement == 'body' && (
          <ConditionalATag conditional={post.data.imageLink} href={post.data.imageLink}>
            <Image
              class="lg"
              src={fromBase(post.data.image)}
              alt={post.data.title}
              width={post.data.parsedImageWidth}
              height={post.data.parsedImageHeight}
              class="w-auto tile-image"
              format="webp"
            />
          </ConditionalATag>
        )
      }
      {
        (post.body || "") != "" && (
          <div class="tile-body-hero-text text-lg p-2 a-tag-underline text-center"><Fragment set:html={markdownify(post.body)} /></div>
        )
      }
      {
        (showReadMore && (
        <a class="bg-primary text-white rounded-full px-5 my-2 grid max-w-[8rem] align-center justify-self-center" href={fromBase(`/${post.id}`)}>Read More</a>
        ))
      }
    </div>
  </div>
</div>
<style>
.tile-body-hero-text {
  padding-top: 10%;
  white-space-collapse: preserve-breaks;
}
.tile-body-hero-text > p{
  white-space-collapse: preserve-breaks;
  white-space: pre-line;
}
.tile-body {
  grid-template-columns: minmax(560px, 1fr) repeat(auto-fit, minmax(560px, 1fr));
  width: 100%;
}
</style>
